*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color:black;
}

.naslov{
    text-align: center;
    padding: 20px;
}


.content{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-content: center;
}

.about-auction{
    display: flex;
    justify-content: space-around;    
    margin-bottom: 50px;
}

.about-image{
    display: flex;
    justify-content: space-between;
}

.description{
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.description > p{
    font-size: 20px;
    margin: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    order:3;
    margin-left: 30px;
}

.menu-item{
    color:black;
    text-align: center;
    margin:15px;
    background-color:#ffc107;
    border-radius: 30%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.menu-item:hover{
    background-color:#9CC5A1 ;
}

.menu-item > img {
    width: 30px;
}

a{
    text-decoration: none;
}