*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color:black;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 50px;
}
.content >p{
    margin:50px;
}
.menu-item{
    color:black;
    text-align: center;
    background-color:#ffc107 ;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-item:hover{
    background-color:#9CC5A1 ;
}

.menu-item > img {
    width: 30px;
}
