.centerEx{
    text-align: center;
    align-items: center;

}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

 .hoveruj{
     padding: 0.25rem;
     background-color: #fff;
     border: 7px solid green;
     border-radius: 0.25rem;
     max-width: 100%;
     height: auto;
}

img:hover{
    border: 7px solid green;
}

img:focus{
    border-color: green;
    border-width: 7px;
}

#tabela_uredjivanje{
    border-collapse:separate; 
    border-spacing:5em;
}

#tabela_finalno{
    font-size: 20px;
    border-radius: 25px;
}

.centriraj{
    text-align: center;
}

.noHover{
    pointer-events: none;
}

#myAccHeader{
    height: 400px;
    width: 100%;
    background-image: url('/slike/header_yellow.jpg');
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
}

#profilePicture{
    height: 250px;
    width: 250px;
    margin-top: 150px;
    border: 5px solid black;
}

#myAuctions a{
    color: black;
}

#myAuctions a:hover{
    color: #ffc107;
    text-decoration: none;
}

#myPictures img{
    height: 250px;
    width: 250px;
    pointer-events: none;
    margin-bottom: 60px;
}

#index_body{
    background-image: url('/slike/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

#index_logo img{
    max-width:100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#index_login{
    margin-top: 400px;
}

#index_login_dugme{
    border-radius: 50px;
    font-size: 36px;
    padding: 10px 30px;
    padding-top: 3px;
    font-weight: bold;
}