.heder {

    text-align: center;
    align-items: center;

    background-color: #ffc107;
    height: 80px;

}

.nav-link {

    color: #ffede6;
}

.nav-link:hover {
    color: #ff781f;
}

.nav-item {

    margin-left: 10px;
}

.nav-item {

    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;

}

.dropdown {
    color: #ffede6 !important;
}

.centriraj {
    text-align: center;
    align-items: center;

}

.nav-link .dropbtn {
    color: #ffede6;
    font-weight: bold;
    font-family: sans-serif;
}

.dropdown {

    padding-bottom: 15px;
}

.dropdown .btn {

    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar-brand img {

    width: 55px;
    height: 55px;
}

.dropbtn {
    background-color: #ffc107;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #ffede6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffc107;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #ffc107;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffc107
}

#recepti_dugme:hover {
    color: #ff781f;
}

#dugme_registruj {
    background-color: #D3D3D3;
}

#dugme_prijavise {
    background-color: #D3D3D3;
}

.tabela_registracija {
    margin-top: 150px;
    border-radius: 50px;
}

.registracija {
    background-image: url("dodatno/registracija_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

.table {
    opacity: 0.85;
}

.greska {
    color: red;
}

#dugme_mojnalog {
    background-color: #ff781f;
}

#mojnalog {
    position: absolute;
    left: 85%;
    margin-top: 12px;
}

#dugme_dodajRecept {
    background-color: white;
}

.tabela-dodajRecept {
    margin: auto;
    margin-top: 150px;
    border-radius: 50px;
}

.centriraj_tabelu {
    margin: auto;
}

/*#mojnalog{
    display: none;
}*/

.izabrani-recept-link {
    color: #ff781f;
}

.izabrani-recept-link:hover {
    color: #ffc107;
    text-decoration: none;
}

.top-3-izabrani-recept-link {
    color: white;
}

.top-3-izabrani-recept-link:hover {
    color: #ffc107;
    text-decoration: none;
}

.checked {
    color: #ffc107;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    color: red;
}

.statistika {
    color: #ff781f;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#mapa {
    text-align: center;
}

.background {
    background-image: url("dodatno/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}

.o-nama-slike img {
    width: 100%;
    height: 300px;
    border: 3px solid #ffc107;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.o-nama-slike img:hover {
    border: 3px solid #ff781f;
}

.o-nama-slike {
    text-align: center;
}

#o-nama-cilj {
    color: #ff781f;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 130px;
    margin-bottom: 110px;
    text-align: justify;
}

#kontakt {
    color: #ff781f;
    text-align: center;
}

.footer-recepta {
    display: flex;
    justify-content: space-between;
}

.sort {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-select {
    border: 3px solid #ffc107;
}

.footer1 {
    font-size: 20px;
    background-color: #ffc107;
    color: white;
    text-align: center;
    padding-top: 33px;
    margin-top: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.5rem;

    position: fixed;
    left: 0;
    bottom: 0;
}

.footer {
    font-size: 20px;


    width: 100%;
    height: 100px;
    padding-top: 31px;
    background-color: #ffc107;
    color: white;
    text-align: center;
}

.btn-delete {
    float: right;
}

.btn-delete:hover {
    color: red;
}

.container-fluid {
    height: 100%;
}


.najnoviji-recepti {
    background-color: #88B0D7;
    height: 300px;
    font-size: 25px;
    color: white;
}

.najnovije-izlozbe-header {
    background-color: #88B0D7;
    height: 75px;
    color: white;
    font-weight: bold;
    font-size: 37px;
    margin-top: 350px;
}

.pocetna-slika {
    color: #ff781f;
    font-size: 25px;
    font-weight: bold;
}

.pocetna-slika img {
    width: 100%;
}

.pocetna-slika a {
    color: #ff781f;
}

.pocetna-slika a:hover {
    color: #ffc107;
    text-decoration: none;
}

.pocetna-selekcija {
    margin-bottom: 30px;
    margin-top: 17px;
}

.banner-donji img {
    max-width: 100%;
    margin-top: 30px;
}

.najpopularniji-recepti {
    margin-top: 30px;
}

.pocetna-header {
    margin-top: 30px;
}

.pocetna-header img {
    width: 100%;
}

.welcome {
    color: #ff781f;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.hr-pocetna {
    border-top: 3px solid #ff781f;
}

#banner-left {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ff781f;
    text-align: center;
    color: white;
    font-size: 25px;
    border: 10px solid #ffc107;
}

#banner-left a {
    color: white;
}

#banner-left a:hover {
    text-decoration: none;
    color: #ffc107;
}

#banner-right {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ff781f;
    text-align: center;
    color: white;
    font-size: 25px;
    border: 10px solid #ffc107;
}

.grupa-header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #ff781f;
}

.jezik {
    width: 50px;
    position: absolute;
    left: 95%;
    margin-top: -19px;

}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5);
    z-index: 100
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
    padding-top: 100px;
    z-index: -1;
}

.image-index {
    max-width: 80%;
    max-height: 80%;
}

.index-banner {
    text-align: center;
}

.index-banner a {
    color: white;
}

.index-banner a:hover {
    color: #ff781f;
    text-decoration: none;
}

#settings-table {
    border-spacing: 10px;
    border-collapse: separate;
}

.link-deactivate {
    float: right;
    position: relative;
    top: -10px;
}

.personal-info a {
    color: black;
}

.personal-info a:hover {
    color: #ff781f;
    text-decoration: none;
}



.auctions_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.searchbar {
    margin: 10px;
    padding: 10px;
    background-color: #ffc107;
    border-radius: 5px;
}

.searchbar form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.searchbar div {
    padding: 2px;
}

.tittle {
    margin: 10px 0;
}

.auctions td {
    padding: 5px;
    border: 2px solid black;
}

.auction_content {
    padding-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.image_on_auction img {
    height: 500px;
}

.auction_info {
    background-color: #ffc107;
    border-radius: 5px;
    border: 2px solid black;
    height: 500px;
    width: 10%;
    padding: 0 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-weight: bolder;
    margin-top: 5%;
}

.image_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
}

.info_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info_body {
    display: flex;
    justify-content: space-between;
}

.image_description {
    padding: 0 10px;
}

.auction_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.bid_menu_item a {
    margin: 0 10px;
    background-color: #ffc107;
    padding: 2px 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: aliceblue;
    border: 2px solid black;
}

.bid_menu_item a:hover {
    background-color: #ff781f;
    text-decoration: none;
    color: aliceblue;
}

.bid_menu_item img {
    width: 25px;
    height: 25px;
}

.watermark {
    position: relative;
}

.watermark::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "Art House Copyright";
    opacity: 0.5;
    font-size: 1.5em;
    color: gray;
}

.searched_exhibtions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar_exhibition {
    margin: 10px;
    padding: 10px;
    background-color: #ffc107;
    border-radius: 5px;
    width: 600px;
}

.searchbar_exhibition form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.exhibitions_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exhibitions td {
    padding: 5px;
    border: 2px solid black;
}

.images_on_exhibitions {
    margin-top: 10px;
}

.images_on_exhibitions img {
    width: 300px;
}

.image_on_exh {
    margin-top: 100px;
}

.exhibition_header {
    text-align: center;
}

.exhibition_content {
    direction: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_on_exh {
    display: flex;
    justify-content: flex-start;
}

.image_desc {
    padding-left: 10px;
}

.exhibition_menu {
    right: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exhibition_menu div {
    margin: 5px 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    background-color: #ffc107;
    border-radius: 5px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ff781f;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #ff781f;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #ff781f;
}

.exh_menu_buttons {
    display: flex;

}

.left_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_menu div {
    margin: 0 10px;
}

.images_slides img {
    height: 500px;
}

#dugme1 {
    background-color: #f6b605;
}

#dugme2 {
    background-color: #f6b605;
}